In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import urllib
import os.path
import re
!pip install tld
from tld import get_tld
import tldextract
data = pd.read_csv("benign_domain_list.csv")
#data = data[:100]
data

Requirement already satisfied: tld in /Users/edwinmartinez/opt/anaconda3/lib/python3.9/site-packages (0.12.7)

              Domain
0         google.com
1       facebook.com
2       a-msedge.net
3        youtube.com
4      microsoft.com
...              ...
4958    bethesda.net
4959  shopifysvc.com
4960      instana.io
4961       oanda.com
4962  skyscanner.com

[4963 rows x 1 columns]

In [46]:
# I added domain length, uinque counts and actual domain. The unique counts
# does not work so skip that part
domain_list = []
domain_len_list=[]
five_list = []
digit_count_list=[]
unique_count_list = []
tld_list = []
for url in data['Domain']:
    #hostname_only = url[1]
    #try:
        #tld = get_tld(url, fix_protocol=True)
    #except:
           # tld = 0
    tld_list.append(tld)
    domain = tldextract.extract(url).domain
    domain_list.append(domain)
    domain_len_list.append(len(domain))
    digits_count_domain = [domain.count(x) for x in "1234567890"]
    digit_count_list.append(sum(digits_count_domain))
    unique_count_domain = len(set(domain))
    unique_count_list.append(unique_count_domain)
    if len(domain) >= 1 and len(domain) <= 5:
        five_list.append('1-5')
    elif len(domain) >= 6 and len(domain) <= 10:
        five_list.append('6-10')
    elif len(domain) >= 11 and len(domain) <= 15:
        five_list.append('11-15')
    elif len(domain) >= 16:   
        five_list.append('16')
data['TLD']= tld_list
data['domain_length'] = domain_len_list
data['ActualDomain']= domain_list
data['rank'] = five_list
data['digit_counts']= digit_count_list
data['unique_counts']= unique_count_list
data

,Domain,TLD,domain_length,rank,digit_counts,unique_counts,ActualDomain
0,google.com,com,6,6-10,0,4,google
1,facebook.com,com,8,6-10,0,7,facebook
2,a-msedge.net,com,8,6-10,0,7,a-msedge
3,youtube.com,com,7,6-10,0,6,youtube
4,microsoft.com,com,9,6-10,0,8,microsoft
...,...,...,...,...,...,...,...
4958,bethesda.net,com,8,6-10,0,7,bethesda
4959,shopifysvc.com,com,10,6-10,0,9,shopifysvc
4960,instana.io,com,7,6-10,0,5,instana
4961,oanda.com,com,5,1-5,0,4,oanda
4962,skyscanner.com,com,10,6-10,0,8,skyscanner

In [49]:
data["TLD"].value_counts()

com    4963
Name: TLD, dtype: int64

In [50]:
data["unique_counts"].value_counts()

6     785
7     763
8     718
5     652
4     596
3     452
9     339
10    207
2     188
11    128
12     77
1      23
13     18
14     10
16      4
15      2
17      1
Name: unique_counts, dtype: int64